body, html{
    height:100%;
    background-color: white;
}
.contenuPage{
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/dilemme.jpg");
    height:40%;
    position: relative;
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
}
.texte-ethique{
    text-align: center;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    color:white;
}
.synthese{
    width:70%;
    text-align:justify;
    color:black;
    margin-top:50px;
}
.victor,.baptiste,.theo{
    text-align:right;
    font-style:italic;
    margin-right:5px;
}