@font-face {
    font-family: "Chomsky";
    src: url("../fonts/Chomsky.otf");
}

@font-face {
    font-family: "Typewriter";
    src: url("../fonts/Typewriter.otf");
}

@font-face {
    font-family: "Zeit";
    src: url("../fonts/Zeit.otf");
}

html,body {
    margin:0;
    width:100%;
    height:100%;
}

header {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    font-family:"Chomsky";
    text-align:center;
    width:100%;
    height:20%;
}

.contentZone {
    width:70%;
    height:auto;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

#titre {
    font-size:1.4vw;
    height:70%;
    width:100%;
    display:flex;
	text-align:center;
    justify-content: space-around;
}

#titre h1 {
	height:100%;
	vertical-align:center;
}

#menu {
    width:100%;
    height:30%;
    background: black;
    display:flex;
    justify-content:space-evenly;
}

#menu ul {
    margin:0;
    background:black;
    font-family:Arial;
    font-weight:bold;
    font-size:1.3vw;
    width:70%;
    height:100%;
    display:flex;
}

#menu ul li {
	z-index:9999;
    display:flex;
    text-align:center;
    width:20%;
    height:100%;
    transition:0.2s;
}

#menu ul li ul {
    margin:0;
    top:100%;
    padding:0;
    display:none;
    background:black;
    flex-direction: column;
    position:absolute;
    width:100%;
    height:250%;
    color:white;
}

#menu ul li ul li {
    width:100%;
	padding-top:2%;
	padding-bottom:2%;
    height:100%;
    background:black;
    transition:0.2s;
}

#menu ul li ul li a {
    text-align:center;
    color:white;
}

#menu ul li a {
    color:black;
    text-decoration:none;
    width:100%;
    height:100%;
    text-align:center;
    text-decoration: none;
    display:flex;
    justify-content: space-around;
    color:white;
}

#menu ul li a p {
    margin-top:auto;
    margin-bottom:auto;
}

#menu ul li:hover{
    z-index:9999;
    background:white;
    cursor:pointer;
    transform:scale(1.1);
    color:black;
}

#menu ul:first-child>li:hover>a {
    color:black;
    text-decoration: underline;
}

#menu ul li ul li:hover a {
    color:black;
}

#menu ul li:hover ul {
    display:flex;
}

main {
    margin-top:2.5%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /*background-image: url("../images/fond.jpg");*/
}

.contexteIndex {
    height:300px;
    width:100%;
    display:flex;
	justify-content:space-around;
}

#definition {
	height:100%;
	width:47.5%;
}

#definition h2 {
	text-align:center;
}

#definition li {
	text-align:justify;
}

#definition ul li:not(:first-child) {
	margin-top:5%;
}

a {
    text-decoration:underline;
}

/************************	Slider	*********************/
.slider{
  width: 47.5%;
  height: 100%;
  overflow: hidden;
  border: 1px solid black;
  margin-top:auto;
  margin-bottom:auto;
}
.slides{
  /*le 500 correspond à la largeur d'une image*/
  width: calc(500px * 3);
  /*répéter l'animation à l'infini toute les 15 secondes*/
  animation: diapo 15s infinite;
}

.slides:hover{
  animation-play-state: paused;
}

.slide{
	max-width:100%;
  float: left;
}

@keyframes diapo{
  0%{
    transform: translateX(0);
  }
  33%{
    transform: translateX(-500px);
  }
  66%{
    transform: translateX(-1000px);
  }
  100%{
    transform: translateX(0);
  }
}
/***********************************************/ 