#banniereSitographie {
    width:100%;
    height:10%;
    background:black;
    color:white;
    margin:0;
    text-align:center;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.contenuSitographie {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:1vw;
}

.contenuSitographie ul li{
    padding-bottom:1.5%;
    list-style-image: url("../images/arrow.svg");
    list-style-position: inside;
}

.contenuSitographie ul li a {
    text-decoration: none;
    color:black;
}

.contenuSitographie ul li a:hover {
    cursor:pointer;
    text-decoration:underline;
}