header {
    background-image: url("../img/background.png");
    background-size: cover;
}

footer {
    background-image: url("../img/background.png");
    background-size: cover;    
}

#me {
    color:white;
    font-weight: bold;
    text-align: center;
}

#github {
    width: 50px;
}

#linkedin {
    width: 50px;
}

#download:hover {
    transition: 1s ease-in-out;
    background: #4F95DA;
}

#vscode {
    width: 50px; 
}

#python {
    width: 50px;
}

#javaScript {
    width: 50px;
}

#contacter {
    font-size: 18px;
    color: white;
    text-align: center;
}

#download {
    border-radius: 50px;
    font-size: 18px;
}

.centerElement {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.centerImage {
    display: flex;
    justify-content: center;
}

.centerDiv {
    margin: 0 auto;
    width: 500px;
}

.lightPadding {
    padding: 10px;
}

/*Style des listes*/
.noStyleList {
    list-style: none;
}

.styleListVide {
    list-style-type: circle;
}

.tabulation {
    margin-left: 20px;
}

.souligner {
    text-decoration: underline;
}

/*
Flex box responsive :
Code trouvé ici : https://www.w3schools.com/css/css3_flexbox_responsive.asp
*/
.flex-container {
    display: flex;
    flex-direction: row;
}

.flex-item-left {
    padding: 10px;
    flex: 50%;
}

.flex-item-right {
    padding: 10px;
    flex: 50%;
}

@media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
}

/*
ToolTip
Code trouvé ici : https://www.w3schools.com/css/css_tooltip.asp
*/

.tooltip {
    position: relative;
    display: inline-block;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}
  
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
}

/*Style bouton : */
.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
}

.btn:hover {
    background-color: RoyalBlue;
}